:root {
  --black-gray: #232323;
  --blue: #09fdf4;
  --black: #1b1b1b;
}

body {
  background-color: var(--black-gray);
}

.container-setup {
  background-image: url('assets/img/19742.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-color: #505050;
  background-blend-mode: overlay;
  border: 6px solid #424242;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px var(--blue);
  height: 620px;
  left: 50%;
  max-width: 990px;
  position: absolute;
  top: 20%;
  transform: translate(-50%);
  width: 100%;
}

.window {
  background-color: #95cbf1;
  border-radius: 7px;
  border: 5px solid gray;
  box-shadow: 0px 0px 15px 0px var(--blue);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 200px;
  position: absolute;
  right: 55px;
  top: 30px;
  width: 200px;
  z-index: 0;
}

details summary::-webkit-details-marker {
  background: transparent;
  color: transparent;
  height: 10px;
}
.blackout {
  background-color: #292929;
  border-radius: 4px;
  border: 0;
  height: 10px;
  position: absolute;
  right: 58px;
  top: 25px;
  width: 190px;
  z-index: 6;
}
.blackout div {
  background-color: white;
  border-radius: 5px;
  min-height: 215px;
}
.window .square {
  border: 1px solid gray;
}
.window .cloud {
  background: #c9d6ff;
  border-radius: 20px;
  height: 40px;
  left: 29px;
  position: absolute;
  top: 32px;
  width: 90px;
  z-index: -1;
}
.window .cloud::before {
  background: #c9d6ff;
  border-radius: 39px;
  content: '';
  height: 35px;
  left: 12px;
  position: absolute;
  top: -12px;
  width: 40px;
}
.window .cloud::after {
  background: #c9d6ff;
  border-radius: 39px;
  content: '';
  height: 35px;
  position: absolute;
  right: 12px;
  top: -21px;
  width: 40px;
}
.table {
  position: absolute;
  top: 60%;
  width: 90%;
  z-index: 10;
}
.table .table-top {
  background-color: #ccc9c9;
  box-shadow: 0px 0px 15px 0px var(--blue);
  height: 30px;
  margin: 0 auto;
  width: 90%;
}
.table .table-top::before {
  background: #949494;
  border-radius: 5px;
  box-shadow: 2px 3px 6px #777777;
  content: '';
  height: 20px;
  left: 20px;
  position: absolute;
  top: -15px;
  width: 96%;
}

.table .table-bottom {
  display: flex;
  justify-content: space-around;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%);
  width: 50%;
  z-index: -1;
}

.table .table-bottom .table-leg {
  background-color: #bdbdbd;
  border-radius: 0 0 5px 5px;
  box-shadow: -2px 2px 4px #737373;
  height: 200px;
  position: relative;
  width: 20px;
}

.table .table-bottom .table-leg::after {
  background-color: #bdbdbd;
  border-radius: 4px;
  bottom: -6px;
  box-shadow: 0px 2px #737373;
  content: '';
  height: 20px;
  left: -9px;
  position: absolute;
  width: 39px;
}
.container-monitors {
  display: flex;
  justify-content: space-around;
  left: 70px;
  position: absolute;
  top: 150px;
  width: 480px;
}
.container-monitors .monitor {
  background-color: #171717;
  border-radius: 2px;
  border: 7px solid #2b2b2b;
  box-shadow: 0px 0px 15px 0px var(--blue);
  box-sizing: border-box;
  height: 110px;
  width: 220px;
  z-index: 1;
}
.container-monitors .base-monitor {
  background-color: var(--black);
  border-radius: 4px;
  height: 200px;
  margin-top: 40px;
  position: relative;
  width: 20px;
}
.container-monitors .base-monitor::before {
  background-color: var(--black);
  content: '';
  height: 10px;
  left: -10px;
  position: absolute;
  top: 10px;
  width: 20px;
  z-index: 0;
}
.container-monitors .base-monitor::after {
  background-color: var(--black);
  content: '';
  height: 10px;
  position: absolute;
  right: -10px;
  top: 10px;
  width: 20px;
  z-index: 0;
}
.cpu {
  align-items: center;
  background-color: #0e0e0e;
  border-radius: 7px;
  border: 10px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  position: absolute;
  right: 190px;
  top: 185px;
  width: 100px;
  z-index: 10;
}

.cpu .circle-rgb {
  align-items: center;
  background: #e19e29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e19e29,
    #f3f9a7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e19e29,
    #f3f9a7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(225, 158, 41, 0.95);
  display: flex;
  height: 38px;
  justify-content: center;
  width: 38px;
}
.cpu .circle-rgb .circle-black {
  background-color: #2b2b2b;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(225, 158, 41, 0.95);
  height: 12px;
  width: 12px;
}

.keyboard {
  background: var(--black);
  border-radius: 4px 4px 0 0;
  bottom: 263px;
  height: 14px;
  position: absolute;
  right: 532px;
  width: 100px;
}
.keyboard::before {
  background: var(--black-gray);
  content: '';
  height: 5px;
  left: 3px;
  position: absolute;
  top: -4px;
  width: 91px;
}
.mouse {
  background: var(--black);
  border-radius: 4px 4px 0 0;
  bottom: 263px;
  height: 10px;
  position: absolute;
  right: 470px;
  width: 20px;
}

.microphone-container {
  height: 200px;
  position: absolute;
  right: 102px;
  top: 160px;
  width: 300px;
  z-index: 100000;
}
.microphone-container .base-stick {
  border-bottom: 5px solid;
  border-top: 6px solid;
  box-sizing: border-box;
  display: flex;
  height: 125px;
  justify-content: space-between;
  position: absolute;
  right: 50px;
  top: 80px;
  transform: rotate(142deg);
  width: 17px;
}

.microphone-container .base-stick:nth-child(1) {
  height: 170px;
  right: 169px;
  top: 10px;
  transform: rotate(90deg);
}

.microphone-container .base-stick .line {
  background-color: var(--black);
  height: 100%;
  width: 6px;
}
.microphone-container .base-stick .line::after {
  background-color: var(--black);
  border-radius: 0px 0px 4px 4px;
  content: '';
  height: 12px;
  position: absolute;
  right: -1px;
  top: -11px;
  transform: rotate(36deg);
  width: 18px;
}

.microphone-container .mic {
  background-color: var(--black);
  border-radius: 4px;
  height: 32px;
  left: 28px;
  position: absolute;
  top: 76px;
  width: 13px;
}
.microphone-container .mic::before {
  background-color: var(--black);
  border-radius: 6px;
  content: '';
  height: 17px;
  left: -2px;
  position: absolute;
  top: -5px;
  width: 19px;
}
